#publikacije{
    display:flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#magazine{
    display: flex;
    width: 100%;
    height: 900px;
}
.publicationleft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#covermagazine{
    width: 100%;
    background-image: url('Slike/Radovi/publikacije/naslovna\ magazin.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 41%;
}

.publicationright{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7%;
}
#pagesmagazine{
    width: 100%;
    background-image: url('Slike/Radovi/publikacije/casopis.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 41%;
    
}
.textpublication{
    width: 56%;
    margin-top: 3%;
    line-height: 1.2;
}

#brosura{
    margin-top: 10%;
    width: 100%;
    display: flex;
    height: 950px;
    flex-direction: column;
}
#brosuramokap{
    width: 100%;
    height: 500px;
    background-image: url('Slike/Radovi/publikacije/brosura.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#brosuratext{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}
#brosuratext .textpublication{
    width: 23%;
    margin-left: 5%;
    line-height: 1.2;
}

#book{
    display: flex;
    width: 100%;
    height: 800px;
}

#coverbook{
    width: 100%;
    background-image: url('Slike/Radovi/publikacije/book\ cover.jpg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 41%;
}
#pagesbook{
    width: 100%;
    background-image: url('Slike/Radovi/publikacije/book\ pages.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 41%;
    
}

.entire{
    text-align: center;
    margin-bottom: 2%;
    
}

#skriven{
    display: none;
}

@media (max-width: 1550px ){
    .textpublication {
        width: 70%;
      }
      #brosuratext .textpublication {
        width: 29%;
    }
}

@media (max-width: 1024px){

#magazine{
    flex-direction: column;
    height: 1469px;
}
.publicationleft, .publicationright{
    width: 100%;
    align-items: center;
}
.publicationleft #covermagazine{
    height: 350px;
    width: 100%;
    background-position: center;
    }
    .publicationright #pagesmagazine{
        height: 350px;
        width: 100%;
        background-position: center;
    }
    .textpublication p{
        width: 100%;
        padding-top: 2%;
        text-align: justify;  
    }
    .textpublication{
        width: 76%;
    }
    
    .publicationright{
        margin-top: 8%;
        margin-left: 0;
    }
    .publicationright .textpublication p{
        text-align: center;
    }

    .flipbook-viewport{
        display: none;
    }
    #skriven{
        display: block;
        text-align: center;
        margin-bottom: 5%;
    }
    .entire{
        display: none;
    }


    #brosuramokap{
        height: 950px;
    }
    #brosuratext{
        flex-direction: column;
    }
    #brosuratext .textpublication {
        width: 80%;
        margin-left: 0;
      }


      #book{
        margin-top: 15%;
        flex-direction: column;
      }
      .publicationleft #coverbook{
        height: 350px;
        width: 100%;
        background-position: center;
        }

        .publicationright #pagesbook{
            height: 350px;
            width: 100%;
            background-position: center;

        }
        .publicationright .textpublication  {
            margin-bottom: 10%;
          }
}


@media (max-width:428px) and (min-width: 360px){
    #magazine {
        height: 1594px;
}
}