#rasterska{
    height:776px;
    width: 60%;
    display: flex;
    justify-content: center;
}
#rasterska section{
    width: 100%;
    height: 100%;
}
#omotac{
    width: 100%;
    display: flex;
    justify-content: center;
}

#linkr{
    padding-top: 6%;
}
#rasterska section a{
    justify-content: flex-start;
    hyphens: manual;
}

.crnir{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crnir p{
    color: white;
    font-size: 35px;
    font-family: 'Amatic';
    text-align: center;
    text-decoration: none;
}
.belir{
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.belir p{
    color: black;
    font-size: 35px;
    font-family: 'Amatic';
    text-align: center;
    text-decoration: none;
    
}





#rasterska #prvir .belir{
    height: 30%;
    width: 100%;
    
}
#rasterska #prvir .crnir{
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('Slike/Radovi/rasterska/fimski\ plakat.jpg');
}

#rasterska #drugir .belir{
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    background-image: url('Slike/Radovi/rasterska/Reklamni\ oglas\ sladoled\ vulkano\ malina-vanila.jpg');
 
}
#rasterska #drugir .crnir{
    height: 30%;
    width: 100%;
    
}

#rasterska #trecir .belir{
    height: 30%;
    width: 100%;
    
}
#rasterska #trecir .crnir{
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('Slike/Radovi/rasterska/intervencija.jpg');
}

#rasterska #cetvrtir .crnir{
    height: 30%;
    width: 100%;
    
}
#rasterska #cetvrtir .belir{
    background-image: url('Slike/Radovi/rasterska/baner.gif');
    background-color: #fcaa79;
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

#rasterskalevi , #rasterskadesni{
    display: flex;
    width: 27%;
    flex-direction: column;
    align-items: baseline;
    padding-top: 5px;
}

#rasterskadesni{
    height: 100%;
}

#movie #rasterskadesni{
    background-image:url('Slike/Radovi/rasterska/fimski\ plakat.jpg');
}
#movie{
    height:857px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}

.mokapvelicina {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 875px;
    

}

#moviemokap .slikamokap{
    background-image: url('Slike/Radovi/rasterska/Free\ Bus\ Stop\ Mockup.jpg');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 38%;

}
 .linkmokap{
    width: 25%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.linkmokap p{
    margin-bottom: 5px;
}
#volcano #rasterskadesni{
    background-image:url('Slike/Radovi/rasterska/Reklamni\ oglas\ sladoled\ vulkano\ malina-vanila.jpg');
}
#volcano{
    height:857px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}
#volcanomokap .slikamokap{
    background-image: url('Slike/Radovi/rasterska/Mockup\ reklamni\ oglas.jpg');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 38%;

}

#intervention{
    height:857px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

#intervention #rasterskadesni{
    background-image:url('Slike/Radovi/rasterska/intervencija.jpg');
}
#interventionmokap .slikamokap{
    background-image: url('Slike/Radovi/rasterska/anksioznost.jpg');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 38%;
}



#banners{
    width: 100%;
    display: flex;
    padding-top: 10%;
    justify-content: center;
}
#banerlevi{
    background-image: url('Slike/Radovi/rasterska/uspravni\ baner.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 30%;
    display: flex;
    background-position: center;
    
}
#banerdesni{
    width: 70%;
}
#dugacki{
    background-image: url('Slike/Radovi/rasterska/dugacki\ baner.jpg');
    width: 85%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: contain;
}
#gif{
    background-image: url('Slike/Radovi/rasterska/baner.gif');
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5%;
}

#banertekst{
width: 50%;
}
@media (max-width: 1550px ){
    #rasterska #prvir .crnir, #rasterska #drugir .belir,#rasterska #trecir .crnir,#rasterska #cetvrtir .belir {
        height: 41%;
    }
    #rasterskadesni {
        height: 70%;
        margin-left: 5%;
      }
      .mokapvelicina {
        height: 700px;
      }
      #banerlevi{
        height: 605px;
      }
      #banerdesni {
        height: 439px;
      }
      #gif{
        margin-top: 2%;
      }
}

@media (max-width:1024px){
    #linkr{
        padding-top: 14%;
    }
    #rasterska {
        height: 734px;
        width: 83%;
        margin-top: 1%;
      }


    
    #rasterskalevi, #rasterskadesni{
        width: 50%;
        padding-top: 8%;
    }
    #rasterskalevi h3{
        margin-left: 26%;
    }
    #movie #rasterskadesni, #volcano #rasterskadesni, #intervention #rasterskadesni {
        margin-top: 7%;
        background-size: 75%;
        
      }
      #movie {
        height: 735px;
    }
    .mokapvelicina{
        height: 421px;
        margin-bottom: 10%;
    }
    #moviemokap .slikamokap, #volcanomokap .slikamokap, #interventionmokap .slikamokap{
        width: 50%;
    }
   
    #volcano{
        height: 738px;
        padding-top: 10%;
    }
    #intervention{
        height: 688px;
        
    }
    #banners {
        
        padding-top: 15%;
        
      }
      #banerlevi{
         height: 484px;
      }
     
    #banerdesni {
        width: 60%;
      }
      #banertekst {
        width: 100%;
      }
}



@media (max-width:768px){
    #rasterska {
        height: 657px;
        
        
        width: 100%;
        margin-top: 8%;
    }  
    #movie #rasterskadesni, #volcano #rasterskadesni, #intervention #rasterskadesni {
        background-size: 90%;
    }
    
   #banerlevi{
    height: 700px;
   }
    
  }

  @media (max-width:640px){
    #linkr {
        padding-top: 18%;
    }
    #rasterska {
        height: 548px;
    }
    .belir p, .crnir p {
        font-size: 24px;
    }

    #rasterskalevi h3 {
        margin-left: 19%;
      }

      .linkmokap {
        width: 41%;
        
        padding: 2%;
    }
    #volcano {
        height: 590px;
       
      }
      .mokapvelicina {
        height: 363px;
    }
        #intervention {
            height: 639px;
          }
          #banerlevi{
            height: 529px;
          }
          #dugacki{
            height: 15%;
          }
          #banners{
            padding-top: 26%;
         } 
}
@media (max-width:428px) and (min-width: 360px){
    #linkr {
        padding-top: 27%;
      }
      #rasterska {
        height: 310px;
      }
      #rasterska #prvir .crnir, #rasterska #drugir .belir, #rasterska #trecir .crnir{
        height: 43%;
        background-size: cover;
      }
      #rasterska #cetvrtir .belir {
        background-size: contain;
        height: 43%;
      }
      #movie, #volcano, #intervention{
        flex-direction: column-reverse;
        height: 1260px;
        padding-top: 0;
        overflow-x: hidden;
      }
      #rasterskalevi, #rasterskadesni {
        width: 100%;
    }
    #movie #rasterskadesni, #volcano #rasterskadesni, #intervention #rasterskadesni {
        background-size: 80%;
        background-position: center;
        margin: 0;
        height: 430px;
      }
      .mokapvelicina{
        flex-direction: column;
        height: 608px;
      }
      #moviemokap .slikamokap, #volcanomokap .slikamokap, #interventionmokap .slikamokap {
        width: 100%;
        background-position: center;
        background-size: 500px;
      }
      .linkmokap {
        width: 80%;
        padding: 12%;
      }
      
      #banners {
        justify-content: unset;
        flex-direction: column-reverse;
        height: 1134px;
      }
      #banerlevi{
        width: 100%;
        height: 898px;
        margin-bottom: 5%;
      }
      #banerdesni {
        height: 1130px;
        margin-top: 10%;
        width: 100%;
      }
      #dugacki {
        width: 100%;
      }
      #gif{
        height: 25%;
      }
}