#rasterska{
    height:776px;
    width: 60%;
    display: flex;
    justify-content: center;
}
#rasterska section{
    width: 100%;
    height: 100%;
}
#omotac{
    width: 100%;
    display: flex;
    justify-content: center;
}

#linkr{
    padding-top: 6%;
}
#rasterska section a{
    justify-content: flex-start;
}

.crnir{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crnir p{
    color: white;
    font-size: 35px;
    font-family: 'Amatic';
    text-align: center;
    text-decoration: none;
}
.belir{
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.belir p{
    color: black;
    font-size: 35px;
    font-family: 'Amatic';
    text-align: center;
    text-decoration: none;
    
}





#rasterska #prvir .belir{
    height: 30%;
    width: 100%;
    
}
#rasterska #prvir .crnir{
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('Slike/Radovi/rasterska/fimski\ plakat.jpg');
}

#rasterska #drugir .belir{
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    background-image: url('Slike/Radovi/rasterska/Reklamni\ oglas\ sladoled\ vulkano\ malina-vanila.jpg');
 
}
#rasterska #drugir .crnir{
    height: 30%;
    width: 100%;
    
}

#rasterska #trecir .belir{
    height: 30%;
    width: 100%;
    
}
#rasterska #trecir .crnir{
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('Slike/Radovi/rasterska/intervencija.jpg');
}

#rasterska #cetvrtir .crnir{
    height: 30%;
    width: 100%;
    
}
#rasterska #cetvrtir .belir{
    background-image: url('Slike/Radovi/rasterska/baner.gif');
    background-color: #fcaa79;
    height: 52%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

#rasterskalevi , #rasterskadesni{
    display: flex;
    width: 27%;
    flex-direction: column;
    align-items: baseline;
    padding-top: 5px;
}

#rasterskadesni{
    height: 100%;
}

#movie #rasterskadesni{
    background-image:url('Slike/Radovi/rasterska/fimski\ plakat.jpg');
}
#movie{
    height:857px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}

.mokapvelicina {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 875px;
    

}

#moviemokap .slikamokap{
    background-image: url('Slike/Radovi/rasterska/Free\ Bus\ Stop\ Mockup.jpg');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 38%;

}
 .linkmokap{
    width: 25%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.linkmokap p{
    margin-bottom: 5px;
}
#volcano #rasterskadesni{
    background-image:url('Slike/Radovi/rasterska/Reklamni\ oglas\ sladoled\ vulkano\ malina-vanila.jpg');
}
#volcano{
    height:857px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}
#volcanomokap .slikamokap{
    background-image: url('Slike/Radovi/rasterska/Mockup\ reklamni\ oglas.jpg');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 38%;

}