#vektorska{
    height:800px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#link{
    padding-top: 90px;
}
#vektorska section{
    display: flex;
    height:100%;
    width: 100%;
    text-decoration: none;
}
.crnivektorska{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.crnivektorska p{
    color: white;
    font-size: 40px;
    font-family: 'Amatic';
    text-align: center;
    text-decoration: none;
}
.belivektorska{
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.belivektorska p{
    color: black;
    font-size: 40px;
    font-family: 'Amatic';
    text-align: center;
    text-decoration: none;
}

#vektorska section:hover p, #rasterska section:hover p {
    text-decoration: line-through;
    font-size: 60px;
}
#vektorska section{
    flex-direction: column;
    
}
 #vektorska section .belivektorska, #vektorska section .crnivektorska {
    background-size: 60%;
    background-position:center;
    background-repeat: no-repeat;
}


#prvi .belivektorska{
    height: 50%;
    background-image: url('Slike/Radovi/vektori/jackson\ rooftop.jpg');
}
#prvi .crnivektorska{
    height: 50%;
}
#vektorska section:hover .belivektorska{
    background-size:80% ;
}
#vektorska section:hover .crnivektorska{
    background-size:80% ;
}
#drugi .belivektorska{
    height: 50%;
    background-image: url('Slike/Radovi/vektori/world\ of\ bugs.jpg');
}
#drugi .crnivektorska{
    height: 50%;
}
#treci .belivektorska{
    height: 50%;
    background-image: url('Slike/Radovi/vektori/plumbing\ .jpg');
}
#treci .crnivektorska{
    height: 50%;
}
#cetvrti .crnivektorska{
    height: 50%;
}
#cetvrti .belivektorska{
    
    height: 50%;
    background-image: url('Slike/Radovi/vektori/pirana.jpg');
}


.strana{
    height:750px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}



/* #link{
    padding-top: 90px;
} */
.vektorilevi , .vektoridesni{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.vektorilevi{
    align-items: flex-end;
    padding-right: 5%;
}
.vektoridesni, #rasterskadesni{
    align-items: flex-start;
}
 .vektorilevi .vektorislika, #rasterskadesni{
   
    background-size: contain;
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
}
.vektoritekst  {
    width: 50%;
}
.vektoritekst p, #rasterskalevi p{
    width: 75%;
    padding-top: 2%;
}
 h3 {
    font-family: 'h3';
    font-size: 25px;
    padding-bottom: 10px;
}
 .vektoridesni .vektorislika, #rasterskalevi #rasterskadesni{
   
    background-size: contain;
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
}
#jackson  .vektorilevi .vektorislika{
    background-image: url('Slike/Radovi/vektori/jackson\ rooftop.jpg');
}
#jackson .vektoridesni .vektorislika{
    background-image: url('Slike/Radovi/vektori/jackson\ rooftop\ mokap.jpg');
}

#bugs .vektorilevi .vektorislika{
    background-image: url('Slike/Radovi/vektori/world\ of\ bugs.jpg');
}
#bugs .vektoridesni .vektorislika{
    background-image: url('Slike/Radovi/vektori/world\ of\ bugs\ mockup\ .jpg');
}
#plumbing  .vektorilevi .vektorislika{
    background-image: url('Slike/Radovi/vektori/plumbing\ .jpg');
}
#plumbing .vektoridesni .vektorislika{
    background-image: url('Slike/Radovi/vektori/kacket.jpg');
}
#stampirana .vektorilevi .vektorislika{
    background-image: url('Slike/Radovi/vektori/pirana.jpg');
}
#stampirana .vektoridesni .vektorislika{
    background-image: url('Slike/Radovi/vektori/stampirana\ mokap\ za\ logo\ .jpg');
}


@media (max-width: 1550px ){
   #vektorska{
    height: 586px;
}
    .strana {
        height: 606px;
        padding-top: 9%;
   } 
   .vektorilevi .vektorislika, #rasterskadesni {
    height: 100%;
    width: 100%;
    background-position: right;
  }
  .vektoritekst {
    width: 54%;
  }
  #plumbing .vektoritekst, #bugs .vektoritekst{
        width: 62%;
  }
  .vektoritekst p, #rasterskalevi p {
    width: 100%;
    padding-top: 2%;
  }
}

@media (max-width: 1024px){
    #vektorska{
        height: 539px;
        margin-top: 7%;
    }

    
.crnivektorska p, .belivektorska p{
    font-size: 30px;
}
.strana{
    height: 1100px;
    flex-direction: column;
}
.vektorilevi, .vektoridesni{
    width: 100%;
    padding-top: 128px;
}


#jackson .vektorilevi .vektorislika{
    height: 350px;
    width: 100%;
    background-position: center;
}
.vektoritekst{
    width: 100%;
}

.vektoritekst p, #rasterskalevi p{
    width: 80%;
    padding-top: 2%;
    padding-left: 10%;
    text-align: center;  
}
h3{
    text-align: center;
}


#jackson .vektoridesni .vektorislika{
    height: 350px;
    width: 100%;
    background-position: center;
}
.vektoridesni{
    margin-bottom: 10%;
}

#bugs .vektorilevi .vektorislika{
    height: 350px;
    width: 100%;
    background-position: center;
}
#bugs .vektoridesni .vektorislika{
    height: 350px;
    width: 100%;
    background-position: center;
}

#plumbing .vektorilevi .vektorislika{
    height: 350px;
    width: 100%;
    background-position: center;
}
#plumbing .vektoridesni .vektorislika{
    height: 350px;
    width: 100%;
    background-position: center;
}
#stampirana .vektorilevi .vektorislika{
    height: 350px;
    width: 100%;
    background-position: center;
}
#stampirana .vektoridesni .vektorislika{
    height: 330px;
    width: 100%;
    background-position: center;
}
    
}
@media (max-width:1024px){
    #plumbing .vektoritekst, #bugs .vektoritekst {
        width: 100%;
      }
      .vektoritekst p, #rasterskalevi p{
        padding-bottom: 3%;
      }
}

@media (max-width: 768px){

#vektorska{
    height: 555px;
    margin-top: 10%;
}
#link{
    padding-top: 125px;
}


#vektorska section:hover .belivektorska{
    background-size:100% ;
}
#vektorska section:hover .crnivektorska{
    background-size:100% ;
}
#vektorska section:hover p, #rasterska section:hover p {
    text-decoration: line-through;
    font-size: 40px;
}
.crnivektorska p, .belivektorska p{
    font-size: 30px;
}
.strana{
    height: 1100px;
    flex-direction: column;
}
.vektorilevi, .vektoridesni{
    padding-top: 50px;
    
}


}


@media(max-width:428px) and (min-width: 360px){
    #vektorska{
        height: 300px;
        
    }
    #vektorska section .belivektorska, #vektorska section .crnivektorska {
        background-size: 90%;
}
#vektorska section:hover .belivektorska, #vektorska section:hover .crnivektorska  {
    background-size: 80%;
  }
  .crnivektorska p, .belivektorska p {
    font-size: 18px;
  }
  #vektorska section:hover p, #rasterska section:hover p {
    font-size: 20px;
  }
  #jackson .vektorilevi .vektorislika, #bugs .vektorilevi .vektorislika, #plumbing .vektorilevi .vektorislika, #stampirana .vektorilevi .vektorislika  {
    background-position: bottom;
  }
  #stampirana .vektorilevi .vektorislika {
    height: 406px;
    }
  .vektoritekst p, #rasterskalevi p{
    text-align: justify;
  }
  .vektoritekst {
    padding-bottom: 5%;
    width: 100%;
  }
  #plumbing .vektoritekst, #bugs .vektoritekst {
    width: 100%;
  }
  
}


