#videoanimation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#monster, #clown{
    display: flex;
    justify-content: center;
}
#videomonster, #videoclown{
    width: 50%;
    height: 800px;
    flex-direction: column;
    display: flex;
    align-items: end;
    
}
#monster{
    margin-top: 5%;
}
#videomonster video, #videoclown video{
    width: 90%;
}
.videotext{
    margin-left: 2%;
    width: 30%;
    margin-right: 2%;
}
@media (max-width:1024px){
    #monster, #clown{
        flex-direction: column;
    }
    #videomonster , #videoclown{
        height: 500px;
        width: 100%;
        align-items: center;
    }
    .videotext {
        margin-left: 0;
        width: 90%;
        margin-right: 0;
        padding: 5%;
        text-align: center;
      }
      #clown{
        margin-top: 10%;
      }
}

@media (max-width: 640px){
    #videomonster, #videoclown {
        height: 376px;
    }
}
@media (max-width:428px) and (min-width: 360px){
    #videomonster, #videoclown {
        height: 228px;
      }
      #clown {
        flex-direction: column-reverse;
        }
}